#wall .tag-1 {
  display: none;
}
body #wall #tag-2 {
  display: none;
}
body #wall #tag-3.wicked.slick {
  display: none;
}
body #wall .parent #tag-4{
  display: none;
}
body #wall .parent #tag-5.slick {
  display: none;
}
body #wall .parent div:nth-child(2) #tag-6 {
  display: none;
}
body #wall .parent div:nth-child(1) #tag-7.slick {
  display: none;
}
